---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ContentSection from "../components/ContentSection.astro";
import BlogCards from "../components/BlogCards.astro";
import Mission from "../components/Mission.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Hero setHeight="true" />
    <div class="h-1 bg-darkest"></div>
    <ContentSection title="Featured Posts">
      <BlogCards slot={"content"} />
    </ContentSection>
    <div class="h-1 bg-darkest"></div>
    <Mission />
    <Footer />
  </body>
</html>
