---
const {
  title = "title",
  bgColor = "bg-light",
  layOutType = "flex",
} = Astro.props;
---

<section class="py-10 relative" class:list={[bgColor]}>
  <div class="wrapper bg-primary pb-20 flex flex-col items-center">
    <h2
      class="inline-block bg-light text-h1 2xl:text-5xl font-caveat font-bold mt-1 mb-8 border border-solid border-b-4 border-l-2 border-r-3 border-dark align-center px-8 py-2 tracking-wider capitalize"
    >
      {title}
    </h2>
    <div
      class={`${
        layOutType === "grid"
          ? "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-6"
          : "flex flex-wrap justify-center gap-6 max-w-5xl"
      }`}
    >
      <slot name="content" />
    </div>
  </div>
  <slot name="pagination" />
</section>
<style>
  /* .border-dark {
    border: 1px solid #000;
  } */
</style>
