---
const missionText = `At The CodeLinguist, we believe coding mastery isn’t about memorizing abstract algorithms or slogging through overly complex projects. It’s about understanding the small, powerful building blocks that form the foundation of every great application. We break down programming concepts into their most practical, reusable components, equipping you with skills that transcend languages and frameworks. Our mission is to transform coding from a daunting challenge into a manageable, even enjoyable, journey. By turning complex ideas into clear, actionable insights, we empower you to think creatively, solve real-world problems, and build a unique approach to programming—one that’s as practical as it is profound.`;
---

<!-- Our Mission Section -->
<section class="bg-darkest text-white py-10 font-caveat">
  <div
    class="bg-bg-custom-black max-w-4xl mx-auto text-left bg_black_grade h-full py-10 sm:px-20 px-5 my-0 border-2 border-solid border-light shadow-custom"
  >
    <h2
      class="text-h1 2xl:text-5xl text-white font-bold mb-10 w-fit mx-auto tracking-wider"
    >
      Our Mission
    </h2>
    <p
      class="text-base lg:text-2xl 3xl:text-3xl lh-normal md:lh-loose lg:lh-loose text-justify"
    >
      {missionText}
    </p>
  </div>
</section>
<style>
  .bg-bg-custom-black {
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(24, 24, 24, 1) 20%,
      rgba(7, 7, 7, 1) 34%,
      rgba(13, 13, 13, 1) 66%,
      rgba(33, 33, 33, 1) 80%,
      rgba(86, 86, 86, 1) 100%
    );
  }
</style>
